body{
    background-image: url("../images/station.jpg");
    background-repeat: no-repeat;
    opacity: .87;
    background-position: top, center;
    background-size: cover;
}

/* body {
    
} */

.title-block {
    margin-top: 50px;
    background-color: lightblue;
    padding: 1%;
}

.table, .form{
    background-color: lightblue;
    padding: 1%; 
}
